<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SATdoc.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <userSettings>
        <SATdoc.My.MySettings>
            <setting name="projectFold" serializeAs="String">
                <value>Not Yet Configured</value>
            </setting>
            <setting name="BlankSATfold" serializeAs="String">
                <value>Not Yet Configured</value>
            </setting>
            <setting name="TmplFold" serializeAs="String">
                <value>Not Yet Configured</value>
            </setting>
        </SATdoc.My.MySettings>
    </userSettings>
</configuration>